<launch>
	<!-- dji sdk node -->
	<node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
		<!-- node parameters -->
                <param name="drone_version" type="string" value="M100"/>
		<param name="serial_name" type="string" value="/dev/ttyUSB0"/>
		<param name="baud_rate" type="int" value="115200"/>
		<param name="app_id" type="int" value="1028116"/>
		<param name="app_version" type="int" value="1"/>
		<param name="app_bundle_id" type="string" value="Welcome to use dji-sdk"/>
		<param name="enc_key" type="string" value="be0d1fcd624185f9cd4490c44e5a0c41625fcb62b14bef4177b0c913144edec1"/>
		<param name="groundstation_enable" type="int" value="1"/>
	</node>

	<!-- zigbee node for communication -->
	<node pkg="zigbee" type="zigbee" name="zigbee" output="screen">
		<!-- node parameters -->
		<param name="zigbee_serial_name" type="string" value="/dev/ttyUSB0"/>
		<param name="zigbee_baud_rate" type="int" value="115200"/>
		<param name="zigbee_own_ID" type="int" value="2"/>

		<param name="zigbee_target_ID_num" type="int" value="0"/>

		<param name="zigbee_target_ID0" type="int" value="2"/>
	</node>
	
	<!-- UAV control node -->
	<node pkg="dji_sdk_demo" type="dji_sdk_client" name="dji_sdk_client" output="screen">
	</node>
</launch>
